.backdrop03{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* position: fixed;
    top: 0;
    left: 0; */
    width: 100vw;
    height: 80vw;
    background-color: rgba(73, 104, 228, 0.3);
    z-index: 999;

    /* pointer-events: none; */
    opacity: 0.8;
    visibility: visible;
    /* visibility: hidden; */
    /* transition: opacity 200ms easy-in-out, visibility 200ms ease-in-out; */
}

.modal03{
    margin-top: 90px;
    padding: 24px;
    border-radius: 4px;
    max-height: 640px;
    width: 40%;
    min-height: 290px;
    background-color: #ffffff;
    /* box-shadow: 0px 1px 3px 0px rgba(0, 0, 0 , 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 8px 2px 1px -1px rgba(0, 0, 0 , 0.12); */

    /* transform: scale(1.1);
    transition: transform 200ms easy-in-out; */
}

.backdrop02{
    margin-top: 450px;
    background-color: rgb(132, 0, 255);
    width: 300px;
    height: 150px;

    z-index: 999;
    opacity: 0.2;
    visibility: visible;
    
}
.modal02{
    width: 180px;
    height: 100px;
    background-color: rgb(226, 174, 43);

}